.container{
background-color:white;

}

.lefts{

border:3 solid greenyellow;
background:white;
width:100;
position:absolute;
left:10;
top:80;
height:300;
padding:30;

}
.center{
border:3 solid greenyellow;
background:white;
width:900;
position:absolute;
left:80;
top:80;
height:300;
padding:30;
}

.bar{
background:greenyellow;
width:1300;
height:20;
position:absolute;
top:50;
left:20;


}




.heading{
font-size:20;
}

.rights{
border:3 solid greenyellow;
background:white;
width:700;
position:absolute;
left:200;
top:80;
height:300;
padding:30;
}

A:link{
color:blue;
text-decoration:none;

}
a:visited{
color:blue;
text-decoration:none;
}
a:hover{
color:green;
text_decoration:underline;
}
